{% section 'hero' %}
<div class="rte">
  {{ page.content }}
  <div class="mt-5">


  {% section 'image-with-text'%}
  <div class="mt-5">
  {% section 'image-with-text-1'%}

  </div>
  <div class="mt-5 text-center">
    {%section 'rich-text'%}

  </div>
</div>
</div>
