@mixin overlay($z-index: null) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-image-overlay;
    opacity: $opacity-image-overlay;
    @if ($z-index) {
      z-index: $z-index;
    }
  }
}
.hero {
  position: relative;
  height: 475px;
  display: table;
  width: 100%;
  background: {
    size: cover;
    repeat: no-repeat;
    position: 50% 50%;
  }
}
.hero--x-small {
  height: 94px;
}

.hero--small {
  height: 225px;
}

.hero--medium {
  height: 357px;
}

.hero--large {
  height: 488px;
}

.hero--x-large {
  height: 582px;
}

@include media-query($medium-up) {
  .hero--x-small {
    height: 125px;
  }

  .hero--small {
    height: 300px;
  }

  .hero--medium {
    height: 475px;
  }

  .hero--large {
    height: 650px;
  }

  .hero--x-large {
    height: 775px;
  }
}

.hero__overlay {
  @include overlay(1);
}

.hero__inner {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding: $section-spacing 0;
  z-index: 2;
}

.hero__btn {
  margin-top: $section-spacing / 2;
}
.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .icon {
    border: 0;
  }
}
.page-width {
  @include clearfix();
  max-width: $width-site;
  margin: 0 auto;
}
h1 {
  font-size: em(floor($font-size-header * 1.35));
  text-transform: none;
  letter-spacing: 0;

  @include media-query($small) {
    font-size: em(floor($font-size-header * 1.25));
  }
}
.mega-title,
.mega-subtitle {
  color: $color-overlay-title-text;
  .hero & {
    text-shadow: 0 0 4px $color-text-shadow;
  }
  @include media-query($medium-up) {
    text-shadow: 0 0 4px $color-text-shadow;
  }
}

.mega-title {
  margin-bottom: 8px;
}

.mega-title--large {
  font-size: em($font-size-header + 8);

  @include media-query($medium-up) {
    font-size: em(floor($font-size-header * 2.5));
  }
}

.mega-subtitle {
  @include media-query($medium-up) {
    font-size: em($font-size-base + 4);
    margin: 0 auto;

    .text-center & {
      max-width: 75%;
    }
  }
}
  .rte-setting {
    margin-bottom: $section-spacing-small / 1.8; // same as p

    &:last-child {
      margin-bottom: 0;
    }
}
