.contact{
  padding: 4%;
  height: 400px;
  margin-bottom: 400px;

}
.form-control:focus {
  outline-color: $color-link-hover;
}
.col-md-3{
  background: #669966;
  color: #1C2833;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form  {
  font-size: 18px;
}
.contact-form input, .contact-form textarea{
  font-size: 18px;
}
.contact-form input {
  height: 30px;
}
.contact-form label{
  font-weight:600;
}

.contact-form button:focus{
  box-shadow:none;
}
